.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.mat-sidenav {
  width: 270px;
}

app-tabela {
  flex: auto;
  background-color: darkseagreen;
  overflow: auto;
}

mat-toolbar {
  flex: none;
}
